.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  flex-wrap: wrap;
}

.route-page-body {
  padding: 50px;
  background-color: #11cef0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  flex-wrap: wrap;
}
